@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Source+Sans+3:wght@400;600;700&family=Space+Mono:wght@400;700&display=swap");
#root {
  font-family: "Space Mono", monospace;
  background-color: #f2f2f2;
}
.navbar {
  width: 730px;
  height: 38px;
  margin-bottom: 38px;
}
.header-color {
  color: #222731;
}

.nav-dark-color {
  color: #697c9a;
}
.searchbar {
  background-color: #ffffff;
  width: 730px;
  height: 69px;
}
.searchbar button {
  width: 106px;
  height: 50px;
  background-color: #0079ff;
}

.searchbar input {
  margin-right: 248px;
}
.searchbar input::placeholder {
  color: #4b6a9b;
}

.userinfo {
  width: 730px;
  height: 419px;
  border-radius: 15px;
  background: #fefefe;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

.github-icon {
  width: 117px;
  height: 117px;
  flex-shrink: 0;
}

.title {
  color: #2b3442;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dates {
  color: #697c9a;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile-bio {
  width: 480px;
  color: #4b6a9b;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.info {
  width: 480px;
  height: 85px;
  border-radius: 10px;
  background: #f6f8ff;
}

.info .header {
  color: #4b6a9b;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.location-icon {
  width: 13.753px;
  height: 20px;
  flex-shrink: 0;
}

.twitter-icon {
  width: 20px;
  height: 16.25px;
}

.website-icon {
  width: 19.991px;
  height: 19.945px;
  flex-shrink: 0;
}

.company-icon {
  width: 20px;
  height: 19.852px;
  flex-shrink: 0;
}

.links {
  /* width: 480px; */
  color: #4b6a9b;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
